<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
   </head>

   <body>
    <h1 class="title">Timestamp Microservice<br></br>Project #1</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/">https://fcc-project-timestamp.julianbattaglin.repl.co/api/</a>&nbsp;<b>Empty date parameter return the current time in a JSON object with a unix/utc key.</li></b>
        <li><a href="api/2015-12-25">https://fcc-project-timestamp.julianbattaglin.repl.co/api/2015-12-25</a>&nbsp;<b>A request to /api/:date? with a valid date return a JSON object with a utc key that is a string of the input date in the format: Thu, 01 Jan 1970 00:00:00 GMT</li></b>
        <li><a href="api/1451001600000">https://fcc-project-timestamp.julianbattaglin.repl.co/api/1451001600000</a>&nbsp;<b>A request to /api/1451001600000 return { unix: 1451001600000, utc: "Fri, 25 Dec 2015 00:00:00 GMT" }</li></b>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.studiokrass.com.ar/">Julian Battaglino</a>
      </p>
    </div>
  </body>
</html>
