/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h1.title {
  font-family: 'Roboto', sans-serif;
	font-size: 24px !important;
  font-weight: 900 !important;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  font-size: 14px;
  margin-bottom: 1em;
  margin-top: 1em;

}

a {
	color: #2574A9;
}
